.main {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #f3f3f3;
    padding: 0;
}

.main img{
    max-width: 20vw;
    height: 45vh;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);;
}